.auth-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: block;
    width: 300px;
    margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
    .auth-body {
        max-width: 400px !important;
    }
}

.auth-body {
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0 0 5px gray;
}

.nav-link {
    font-weight: 500;
    width: 50%;
    text-decoration: none;
    text-align: center;
    position: relative;
    background-color: rgba(110, 110, 110, 0.281);
    color: rgb(255, 255, 255);
}


.active,
.nav-link:hover {
    font-weight: 600;
    background-color: transparent;
    color: #0d6efd;
}

input[type=submit] , input[type=button]{
    width: fit-content;
    border: 0px;
}

input[type=submit]:hover{
    background-color: rgba(33,37,41,0.9) !important;
}

input[type=textbox], input[type=email], input[type=password]{
    background-color: transparent;
}

@media screen and (max-width:576px) {
    .auth-body{
        max-width: 90% !important;
    }
}

@media screen and (max-width:500px) {
    .logo-container {
        width: 70%;
    }
}